.errorSuccess {
    color: rgb(0, 255, 0);
    background-color: #daf8d7;
    border: 1px solid #8fffa0;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}
.errorFailure {
    color: rgb(255, 0, 0);
    background-color: #f8d7da;
    border: 1px solid #ff0000;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}